@model PeliculasModel
@{
    ViewData["Title"] = "Eliminar Peliculas";
}

<h1>Eliminar Pelicula </h1>

<h3>Está seguro que desea eliminar?</h3>
<div>


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_pelicula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_pelicula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_estreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_estreno)
        </dd>
    </dl>

    <form asp-action="Eliminar">
        <input asp-for="Id_pelicula" type="hidden" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>
